<section class="jumbotron text-center">
    <div class="container">
        <a href="https://twitter.com/TeamHarekaze"><img src="/asset/img/favicon.png"></a>
        <h1 class="jumbotron-heading">Harekaze CTF 2018</h1>
        <p class="lead text-muted">"2018-02-10 06:00:00 (UTC) - 2018-02-11 06:00:00 (UTC)"</p>
    </div>
</section>

<section>
    <header class="section-header">
        <h2 id="rules"><a href="#rules">Rules</a></h2>
    </header>
    <div class="container">
        <ol>
            <li>Harekaze CTF 2018 starts at 2018-02-10 06:00:00 (UTC) and ends at 2018-02-11 06:00:00 (UTC).</li>
            <li>Register one account per member.<br>A team leader can make a team in the registration page.<br>Other members can join the team by entering the team name and password in the registration page.</li>
            <li>There are no restrictions on the number of team members.</li>
            <li>The flag format is <code>HarekazeCTF{example}</code> unless otherwise stated.</li>
            <li>Violation of the rules may result in loss of points or disqualification.</li>
            <li>If you have any questions, please feel free to contact us via <a href="#chat">our chat room</a>.</li>
        </ol>
    </div>
</section>

<section>
    <header class="section-header">
        <h2 id="prohibitions"><a href="#prohibitions">Prohibited matter</a></h2>
    </header>
    <div class="container">
        <ul type="disc">
            <li>To attack servers other than problem servers.</li>
            <li>To attack other teams.</li>
            <li>To share flags, solutions or hints with other teams.</li>
            <li>To belong to multiple teams at the same time.</li>
            <li>Other acts that impede management.</li>
        </ul>
    </div>
</section>

<section>
    <header class="section-header">
        <h2 id="chat"><a href="#chat">Chat</a></h2>
    </header>
    <div class="container">
        <p>Join our Discord server by using the link below!</p>
        <p><a href="https://discord.gg/pDu22kS">https://discord.gg/pDu22kS</a></p>
    </div>
</section>

<section>
    <header class="section-header">
        <h2 id="contact"><a href="//harekaze.com/contact.html">Contact</a></h2>
    </header>
    <div class="container">
        <p>It may take a while to respond. Please use <a href="#chat">our Discord server</a> during the competition.</p>
    </div>
</section>

<section class="jumbotron text-center">
  <div class="container">
    <header class="section-header">
      <h2 id="sponsors"><a href="#sponsors">Sponsors</a></h2>
    </header>
    <a href="http://dwango.co.jp"><img src="/asset/img/sponsors/dwango.png" class="img-fluid" alt="DWANGO Co., Ltd."></a>
    <a href="https://www.sakura.ad.jp"><img src="/asset/img/sponsors/sakura-internet.png" class="img-fluid" alt="SAKURA Internet Inc."></a>
  </div>
</section>