<section class="jumbotron text-center">
    <div class="container">
        <a href="https://twitter.com/TeamHarekaze"><img src="/asset/img/favicon.png"></a>
        <h1 class="jumbotron-heading">Team:Harekaze</h1>
        <p class="lead text-muted">"In a crisis on CTF!"</p>
    </div>
</section>
    
<section>
    <header class="section-header">
        <h2 id="ProhibitedMatter"><a href="#ProhibitedMatter">Prohibited matter</a></h2>
    </header>
    <div class="container">
        <ul type="disc">
            <li>To attack servers other than problem servers.</li>
            <li>To attack other teams.</li>
            <li>To share flags, solutions or hints with other teams.</li>
            <li>To belong to multiple teams at the same time.</li>
            <li>Other acts that impede management.</li>
        </ul>
    </div>
</section>

<section>
    <header class="section-header">
        <h2 id="announcements"><a href="#announcements">Announcements</a></h2>
    </header>
    <div class="container">
        <a class="twitter-timeline" data-width="520" data-height="800" href="https://twitter.com/TeamHarekaze?ref_src=twsrc%5Etfw">Tweets by TeamHarekaze</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</section>