<section>
    <header class="section-header">
        <h2 >{{.Title}}</h2>
    </header>
    <div class="container">
        <form action="" method="POST">
            <div class="form-group">
                <label for="email">E-Mail Address</label>
                <input type="email" class="form-control" name="email" id="email" {{if .Email}}value="{{.Email}}" {{ end }}>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <input type="hidden" name="csrf_token" value="{{ .Token }}">
            {{ if .Err }}
                <div class="alert alert-danger" role="alert">{{.Err}}</div>
            {{end}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
