<section>
    <header class="section-header">
        <h2 id="rule">Admin Console</h2>
    </header>
    <div class="container">
        <table>
            <tbody>
                <tr>
                    <td>問題管理</td>
                    <td>
                        <a href="/{{ .AdminHash }}/question/">OPEN</a>
                    </td>
                </tr>
                <tr>
                    <td>ユーザー管理</td>
                    <td>
                        <a href="/{{ .AdminHash }}/user/">OPEN</a>
                    </td>
                </tr>
                <tr>
                    <td>チーム管理</td>
                    <td>
                        <a href="/{{ .AdminHash }}/team/">OPEN</a>
                    </td>
                </tr>
                <tr>
                    <td>ファイル管理</td>
                    <td>
                        <a href="/{{ .AdminHash }}/file/">OPEN</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>