<section>
    <header class="section-header">
        <h2 >{{.Title}}</h2>
    </header>
    <div class="container">
        <form action="" method="POST">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" value="{{ .Question.Name }}">
            </div>
            <div class="form-group">
                <label>FLAG</label>
                <input type="text" class="form-control" name="flag" value="{{ .Question.Flag }}">
            </div>
            <div class="form-group">
                <label>Score</label>
                <input type="text" class="form-control" name="score" value="{{ .Question.Score }}">
            </div>
            <div class="form-group">
                <label>Genre</label>
                <input type="text" class="form-control" name="genre" value="{{ .Question.Genre }}">
            </div>
            <div class="form-group">
                <label>Publish Start Time</label>
                <input class="form-check-input" type="checkbox" name="publish_now">Publish Now
                <input type="text" class="form-control" name="publish_start_time" value="{{ .Question.PublishStartTime }}">
            </div>
            <div class="form-group">
                <label>Sentence (MarkDown)</label>
                <textarea class="form-control" name="sentence">{{ .Question.Sentence }}</textarea>
            </div>
            <input type="hidden" name="csrf_token" value="{{ .Token }}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>