<section>
    <header class="section-header">
        <h2 >{{.Title}}</h2>
    </header>
    <div class="container">
        <form action="" method="POST">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>FLAG</label>
                <input type="text" class="form-control" name="flag" value="HarekazeCTF{xxxxxx}">
            </div>
            <div class="form-group">
                <label>Score</label>
                <input type="text" class="form-control" name="score" placeholder="100-500">
            </div>
            <div class="form-group">
                <label>Genre</label>
                <input type="text" class="form-control" name="genre">
            </div>
            <div class="form-group">
                <label>Publish Start Time</label>
                <input class="form-check-input" type="checkbox" name="publish_now">Publish Now
                <input type="text" class="form-control" name="publish_start_time" placeholder="yyyy-MM-dd HH:mm:ss">
            </div>
            <div class="form-group">
                <label>Sentence (MarkDown)</label>
                <textarea class="form-control" name="sentence"></textarea>
            </div>
            <input type="hidden" name="csrf_token" value="{{ .Token }}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>