<section>
    <header class="section-header">
        <h2 >{{.Title}}</h2>
    </header>
    <div class="container">
        <form action="" method="POST">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" value="{{ .Question.Name }}">
            </div>
            <div class="form-group">
                <label>FLAG</label>
                <input type="text" class="form-control" name="flag" value="{{ .Question.Flag }}">
            </div>
            <div class="form-group">
                <label>Score</label>
                <input type="text" class="form-control" name="score" value="{{ .Question.Score }}">
            </div>
            <div class="form-group">
                <label>Sentence (MarkDown)</label>
                <textarea class="form-control" name="sentence">{{ .Question.Sentence }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>