<section>
    <header class="section-header">
        <h2 >{{.Title}}</h2>
    </header>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {{range .Ranks}}
                    <tr>
                        <td scope="row">{{.Rank}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Score}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</section>