<section class="jumbotron text-center">
    <div class="container">
        <a href="https://twitter.com/TeamHarekaze"><img src="/asset/img/favicon.png"></a>
        <h1 class="jumbotron-heading">Harekaze CTF 2018</h1>
        <p class="lead text-muted">"2018-02-10 06:00:00 (UTC) - 2018-02-11 06:00:00 (UTC)"</p>
    </div>
</section>

<section>
    <header class="section-header">
        <h2 id="announcements"><a href="#announcements">お知らせ / Announcements</a></h2>
    </header>
    <div class="container text-center">
        <a class="twitter-timeline" data-width="800" data-height="480" href="https://twitter.com/TeamHarekaze?ref_src=twsrc%5Etfw">Tweets by TeamHarekaze</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</section>

<section>
    <header class="section-header">
        <h2 id="rules"><a href="#rules">ルール / Rules</a></h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ol>
                    <li>Harekaze CTF 2018 は <time>2018-02-10 15:00:00 (UTC+9)</time> に開始し、<time>2018-02-11 15:00:00 (UTC+9)</time> に終了します。</li>
                    <li>アカウントの登録はメンバーごとに行ってください。<br>アカウントの登録時に、リーダーはチームを作成することができます。<br>それ以外のメンバーは、事前に共有されたチーム名とパスワードを入力することでチームに入ることができます。</li>
                    <li>1 チームから参加できるチームメンバーの数に制限はありません。</li>
                    <li>問題文などに別途注釈がある場合を除いて、フラグは <code>HarekazeCTF{example}</code> という形式で提供されます。</li>
                    <li>禁止行為が確認されたチームは、運営チームの判断により減点や失格などの処分の対象となります。</li>
                    <li>質問がある場合には、<a href="#chat">チャット</a>もしくは<a href="//harekaze.com/contact.html">連絡先</a>から運営チームに連絡ができます。</li>
                </ol>
            </div>
            <div class="col-lg-6">
                <ol>
                    <li>Harekaze CTF 2018 starts at <time>2018-02-10 06:00:00 (UTC)</time> and ends at <time>2018-02-11 06:00:00 (UTC)</time>.</li>
                    <li>Register one account per member.<br>A team leader can make a team in the registration page.<br>Other members can join the team by entering the team name and password in the registration page.</li>
                    <li>There are no restrictions on the number of team members.</li>
                    <li>The flag format is <code>HarekazeCTF{example}</code> unless otherwise stated.</li>
                    <li>Violation of the rules may result in loss of points or disqualification.</li>
                    <li>If you have any questions, please feel free to contact us via <a href="#chat">our chat room</a>.</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section>
    <header class="section-header">
        <h2 id="prohibitions"><a href="#prohibitions">禁止行為 / Prohibited matter</a></h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ol>
                    <li>問題で明示的に指定されたサーバ以外への攻撃</li>
                    <li>他チームや運営チームへの攻撃や妨害</li>
                    <li>競技時間内の他チームとのフラグや解法、運営チームの公開していないヒントの共有</li>
                    <li>同一人物による複数のチームへの所属</li>
                    <li>その他、運営を阻害する行為</li>
                </ol>
            </div>
            <div class="col-lg-6">
                <ol>
                    <li>To attack servers other than problem servers.</li>
                    <li>To attack other teams.</li>
                    <li>To share flags, solutions or hints with other teams.</li>
                    <li>To belong to multiple teams at the same time.</li>
                    <li>Other acts that impede management.</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section>
    <header class="section-header">
        <h2 id="chat"><a href="#chat">チャット / Chat</a></h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>以下のリンクから Discord サーバに参加できます!</p>
                <p><a href="https://discord.gg/pDu22kS">https://discord.gg/pDu22kS</a></p>
            </div>
            <div class="col-lg-6">
                <p>Join our Discord server by using the link below!</p>
                <p><a href="https://discord.gg/pDu22kS">https://discord.gg/pDu22kS</a></p>
            </div>
        </div>
    </div>
</section>

<section>
    <header class="section-header">
        <h2 id="contact"><a href="//harekaze.com/contact.html">連絡先 / Contact</a></h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>返信には時間がかかる場合があります。競技中は <a href="#chat">Discord</a> よりご連絡ください。</p>
            </div>
            <div class="col-lg-6">
                <p>It may take a while to respond. Please use <a href="#chat">our Discord server</a> during the competition.</p>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron text-center">
  <div class="container">
    <header class="section-header">
      <h2 id="sponsors"><a href="#sponsors">スポンサー / Sponsors</a></h2>
    </header>
    <a href="http://dwango.co.jp"><img src="/asset/img/sponsors/dwango.png" class="img-fluid" alt="DWANGO Co., Ltd."></a>
    <a href="https://www.sakura.ad.jp"><img src="/asset/img/sponsors/sakura-internet.png" class="img-fluid" alt="SAKURA Internet Inc."></a>
  </div>
</section>