<section>
    <header class="section-header">
        <h2>{{.Title}}</h2>
    </header>
    <div class="container">
        <h3>Description</h3>
        {{ md2html .Sentence }}
        <p>({{.Genre}}, {{.Score}} points)</p>
    </div>
    <div class="container">
        <h3>Answer</h3>
        <form action="" method="POST">
            {{ if .Message }}
                <div class="alert alert-{{.MessageType}}" role="alert">{{.Message}}</div>
            {{end}}
            <div class="form-group">
                <input type="text" class="form-control" name="flag" id="flag" placeholder="HarekazeCTF{example}"{{ if .IsSubmitBlock }} disabled{{end}}>
            </div>
            <input type="hidden" name="csrf_token" value="{{ .Token }}">
            <button type="submit" class="btn btn-primary"{{ if .IsSubmitBlock }} disabled{{end}}>Submit</button>
        </form>
    </div>
</section>