<section>
    <header class="section-header">
        <h2>{{.Title}}</h2>
    </header>
    <div class="container">
        {{ md2html .Sentence }}
    </div>
    <div class="container">
        <form action="" method="POST">
            <div class="form-group">
                <label>flag</label>
                <input type="text" class="form-control" name="flag">
            </div>
            {{ if .Message }}
                <div class="alert alert-{{.MessageType}}" role="alert">{{.Message}}</div>
            {{end}}
            <input type="hidden" name="csrf_token" value="{{ .Token }}">
            {{ if .IsSubmitBlock }}
                <button type="submit" class="btn btn-primary" disabled>Submit</button>
            {{else}}
                <button type="submit" class="btn btn-primary">Submit</button>
            {{end}}
        </form>
    </div>
</section>