<section>
    <header class="section-header">
        <h2 >{{.Title}}</h2>
    </header>
    <div class="container">
        <div class="alert alert-danger" role="alert">The Competition has not begun yet.<br>Please expect to have fun and wait.</div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Points</th>
                    <th>Genre</th>
                    <th>Author</th>
                    <th>Solves</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                </tr>
            </tbody>
        </table>
    </div>
</section>