<section>
    <header class="section-header">
        <h2 >{{.Title}}</h2>
    </header>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Genre</th>
                    <th>Auther</th>
                    <th>Solves</th>
                </tr>
            </thead>
            <tbody>
                {{range .Questions}}
                    <tr>
                        {{ if .IsSolve }}
                            <td><i class="fa fa-home" aria-hidden="true"></i></th>
                        {{else}}
                            <td></th>
                        {{end}}
                        <td><a href="/answer/{{.Id}}">{{.Name}}</a></td>
                        <td>{{.Score}}</th>
                        <td>{{.Genre}}</th>
                        <td>{{.AutherName}}</th>
                        <td>{{.SolvesCount}}</th>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</section>