<section>
    <header class="section-header">
        <h2 >{{.Title}}</h2>
    </header>
    <div class="container">
        <form action="" method="POST">
            <!-- user -->
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>E-Mail Address</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="text" class="form-control" name="password_confirmation">
            </div>
            <!-- team -->
            <header class="section-header">
                <h2 >Team Registration</h2>
            </header>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="makejointeam" value="make_team" onclick="showMakeTeam()">
                    Make a team.
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="makejointeam" value="join_team" onclick="showJoinTeam()">
                    Join a team.
                </label>
            </div>
            <div id="makeTeam" style="display:none">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="team_name">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" name="team_password">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="text" class="form-control" name="team_password_confirmation">
                </div>
            </div>
            <div id="joinTeam" style="display:none">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="team_name">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" name="team_password">
                </div>
            </div>
            </br>
            <input type="hidden" name="csrf_token" value="{{ .Token }}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
<script>
    function showMakeTeam(){
        document.getElementById("joinTeam").style.display="none";
        document.getElementById("makeTeam").style.display="block";
    }
    function showJoinTeam(){
        document.getElementById("joinTeam").style.display="block";
        document.getElementById("makeTeam").style.display="none";
    }
</script>